@tailwind base;

@tailwind components;


/* Wedding Fonts */
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Dancing+Script:500|Great+Vibes|Herr+Von+Muellerhoff|Lovers+Quarrel|Monsieur+La+Doulaise|Mr+Dafoe|Mrs+Saint+Delafield|Pinyon+Script|Rouge+Script|Ruthie|Tangerine&display=swap');

/* Base Fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

.font-family-dancing-script{
  font-family: 'Dancing Script', cursive;
}

.font-family-alex-brush{
  font-family: 'Alex Brush', cursive;
}

.font-family-fira-sans{
  font-family: 'Fira Sans', sans-serif;
}

.text-header{
  @apply text-center text-5xl text-teal-900 font-family-dancing-script leading-tight;
}


body{
  @apply bg-gray-100 font-family-fira-sans;
}


@tailwind utilities;
