.header {
  text-align: center;
  /* font-family: 'Lovers Quarrel', cursive; */
}

.header-container{
  background-image: url('./images/image1.png');
  background-position: center top, center center;
  background-repeat: no-repeat, no-repeat;
}

.toast {
  margin: 0 auto;
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}
