body{
  font-family: 'Fira Sans';
}

.header-container{
  background-image: url('./images/image1.png');
  height: auto;
  background-size: cover;
  background-position: center top, center center;
  background-repeat: no-repeat, no-repeat;
}

.font-family-elegant{
  font-family: 'Alex Brush', cursive;
}

.couple-vertical-name{
  font-family: 'Dancing Script', sans-serif;
}
.couple-vertical-and{
  font-family: 'Lovers Quarrel', cursive;
}

.bg-light{
  background-color: white !important;
}
